{% extends './layouts/base.html' %}

{% block content %}
<div class="row">
  <div class="col-12 p-5">
    <div class="first-box jumbotron">
      <h6 class="display-4">Digite seu e-mail e senha para prosseguir</h6>
      <form class="mt-5" action="index.html" method="post">
        <div class="row">
          <div class="col-12">
            <label for="">Email</label>
            <input type="email" required name="" value="" class="form-control" placeholder="@">
          </div>
        </div>
        <div class="row">
          <div class="col-12 mt-4">
              <label for="">Senha</label>
            <input type="password" required placeholder="senha" name="" value="" class="form-control">
          </div>
        </div>
        <div class="row d-flex justify-content-center">
          <div class="buttons col-3 mt-4 text-center">
            <button type="submit" class="btn btn-primary btn-block" name="button">Entrar</button>
            <a href="/register" class="btn btn-outline-success btn-block" name="button">Cadastre-se</a>
          </div>
        </div>
      </form>
    </div>
  </div>
 
</div>
<div class="col-12">
  <div class="cart mt-5 jumbotron">
    <h5 class="mb-3">Meu Carrinho</h5>
    <div id="cart" >
    </div>
  </div>
</div>
{% endblock %}

{% block title %}
  Carrinho de Compras
{% endblock %}

{% block styles %}
  <link rel="stylesheet" href="/styles/cart.css">
{% endblock %}

{% block script %}
  <script src="/js/cart.js" charset="utf-8"></script>
{% endblock %}
