{% extends './layouts/base.html' %}

{% block content %}
<h1 class="display-4 text-center">CRIE SUA CONTA</h1>
<hr />
<form onsubmit="send(event)">
    <div class="row">
      <div class="col-12">
        <label>Nome</label>
        <input type="text" name="" value="" id="name" class="form-control">
      </div>
      <div class="col-12">
        <label>Sobrenome</label>
        <input type="text" name="" value="" id="lastname" class="form-control">
      </div>
      <div class="col-12">
        <label>E-mail</label>
        <input type="email" name="" value="" id="email" class="form-control">
      </div>
      <div class="col-12">
        <label>Telefone</label>
        <input type="num" name="" value="" id="phone" class="form-control">
      </div>

      <div class="col-12">
        <label>CEP</label>
        <input type="num" name="" value="" id="cep" class="form-control">
      </div>
    <div class="col-12">
        <label>Estado</label>
        <select class="form-control" type="text" name="" value="" id="state" class="form-control">
             <option value="AC">Selecione seu estado</option>
             <option value="AC">Acre</option>
             <option value="AL">Alagoas</option>
             <option value="AP">Amapá</option>
             <option value="AM">Amazonas</option>
             <option value="BA">Bahia</option>
             <option value="CE">Ceará</option>
             <option value="DF">Distrito Federal</option>
             <option value="ES">Espírito Santo</option>
             <option value="GO">Goiás</option>
             <option value="MA">Maranhão</option>
             <option value="MT">Mato Grosso</option>
             <option value="MS">Mato Grosso do Sul</option>
             <option value="MG">Minas Gerais</option>
             <option value="PA">Pará</option>
             <option value="PB">Paraíba</option>
             <option value="PR">Paraná</option>
             <option value="PE">Pernambuco</option>
             <option value="PI">Piauí</option>
             <option value="RJ">Rio de Janeiro</option>
             <option value="RN">Rio Grande do Norte</option>
             <option value="RS">Rio Grande do Sul</option>
             <option value="RO">Rondônia</option>
             <option value="RR">Roraima</option>
             <option value="SC">Santa Catarina</option>
             <option value="SP">São Paulo</option>
             <option value="SE">Sergipe</option>
             <option value="TO">Tocantins</option>
             <option value="EX">Estrangeiro</option>
          </select>
      </div>
      <div class="col-12">
        <label>Cidade</label>
        <input class="form-control" type="text" name="" value="" id="city" class="form-control">
      </div>
      <div class="col-12">
        <label>Bairro</label>
        <input type="text" name="" value="" id="neighborhood" class="form-control">
      </div>
      <div class="col-12 ">
        <label>Endereço</label>
        <input type="text" name="" value="" id="address" class="form-control">
      </div>
      <div class="col-12">
        <label>Número</label>
        <input type="text" name="" value="" id="number" class="form-control">
      </div>
      <div class="col-12">
        <label>Complemento</label>
        <input type="text" name="" value="" id="complement" class="form-control">
      </div>
      <div class="col-12">
        <label>Senha</label>
        <input type="password" name="" value="" id="password" class="form-control">
      </div>
      <div class="col-12">
        <label>Confirmar senha</label>
        <input type="password" name="" value="" id="confirmpassword" class="form-control">
      </div>
    </div>
    <div class="row">
      <div class="col-12 mt-4 d-flex justify-content-center">
        <button type="submit" class="btn btn-warning">Enviar</button>
      </div>
    </div>
  </form>



<!--            CÓDIGO ARTUR
  <form>
    <div class="row">
      <div class="col-6">
        Nome:
        <input class="form-control" name="name" id='name' />
      </div>
      <div class="col-6">
        Sobrenome:
        <input class="form-control" name="lastname" id='lastname' />
      </div>
      <div class="col-6">
        E-mail:
        <input class="form-control" name="email" id='email' />
      </div>
      <div class="col-6">
        CEP:
        <input class="form-control" name="zipcode" id='zipcode' maxlength="8" />
      </div>
      <div class="clearfix"></div>
      <div class="col-12">
        Endereço:
        <input class="form-control" name="address" id='address' />
      </div>
      <div class="col-6">
        Bairro:
        <input class="form-control" name="neighborhood" id='neighborhood' />
      </div>
      <div class="col-6">
        Cidade:
        <input class="form-control" name="city" id='city' />
      </div>
      <div class="col-6">
        Estado:
        <input class="form-control" name="state" id='state' />
      </div>
      <div class="col-6">
        Senha:
        <input class="form-control" type="password" name="password" id='password' />
      </div>
      <div class="col-6">
        Confirmação de Senha:
        <input class="form-control" type="password" name="cpassword" id='cpassword' />
      </div>
      <div class="col-12 mt-4">
        <button type="submit" name="button" class="btn btn-primary">Enviar</button>
      </div>
    </div>
  </form> -->
{% endblock %}

{% block title %}
  Cadastre-se
{% endblock %}

{% block script %}
  <script src="/js/register.js" charset="utf-8"></script>
  <link rel="stylesheet" href="styles/register.css">
{% endblock %}
