
form input {
  width: 600px;
}
form button {
  width: 92px;
}

body{
  background-color: orange;
}

div.logo img {
  height: 300px;
  width: 400px;
}

footer h5 {
  color: white;
}

footer p {
  color: white;
}

footer a {
  color: white;
}

span a i.cart {
  color: black;
  font-size: 30px;
}

span a span.notifications {
  color: black;
  background-color: orange;
  font-size: 20px;
}

div.page {
  background-color: orange;
}
.nav-link btn ml-5 {
  color: black;
}

.navbar {
  background-color: yellow;
}


@media screen and (max-width: 425px) {

}

