
form input {
  width: 600px;
}
form button {
  width: 92px;
}

body{
  background-color: white;
}

div.logo img {
  height: 200px;
  width: 200px;
}

footer h5 {
  color: blue;
}

footer p {
  color: blue;
}

footer a {
  color: blue;
}

span a i.cart {
  color: blue;
  font-size: 30px;
}

span a span.notifications {
  color: white;
  background-color: white;
  font-size: 20px;
}

div.page {
  background-color: white;
}

@media screen and (max-width: 425px) {

}
