#cart {
  overflow-y: auto;
  max-height: 375px;
}

body{
  background-color: rgb(59, 59, 59);
}

div h6 {
  font-family: fantasy;
  color: #F4B400;
}

div label {
  font-family: fantasy;
  color: #F4B400;
}

div.first-box {
  background-color: white;
  background-image: url(https://images5.alphacoders.com/774/774585.jpg);
  background-repeat: no-repeat;
}

div h5 {
  font-family: fantasy;
  color: #F4B400;
  font-size: 30px;
}

div.cart {
  background-color: rgb(204, 204, 204);
}
