#cart {
  overflow-y: auto;
  max-height: 375px;
}

body{
  background-color: rgb(59, 59, 59);
}

div h6 {
  font-family: fantasy;
  color: white;
}

div label {
  font-family: fantasy;
  color: white;
}

div.first-box {
  background-color: white;
  background-image: url(http://2.bp.blogspot.com/-LFLDrVdSDoE/VlrzkWAv98I/AAAAAAAABIU/Vm93726uGLs/s1600/Neymar_01_A_native_1600.jpg);
  background-repeat: no-repeat;
}

div h5 {
  font-family: fantasy;
  color: white;
  font-size: 30px;
}

div.cart {
  background-color: rgb(204, 204, 204);
}
