body{
  background-color: black;
}

.btn {
  color: blue;
}
.products {
  list-style: none;
  padding: 0;
}
.products li {
  float: left;
  margin-bottom: 20px;
  padding: 15px;
  width: 25%;
  background-color: grey;
  border-right: blue;
  border-color: blue;
  min-height: 380px;
  position: relative;
}
.products p {
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 100%;
  overflow: hidden;
}
.products li a {
  position: absolute;
  bottom: 10px;
  width: 90%;
  /* dica para alinhar elemento absoluto ao centro */
  left: 50%;
  transform: translateX(-50%);
}

.products img {
  max-height: 200px;
  position: absolute;
  bottom: 50px;
  width: 90%;
  left: 50%;
  transform: translateX(-50%);
}

.card {
  border: none;
  text-align: center;
}

h1{
  font-family: fantasy;
  color: orange;
}

div.underimages {
  color: yellow;
  font-family: sans-serif;
}

h2 {
  color: orange;
}

li p.title {
  color: black;
  font-family: fantasy;
  font-size: 20px;
}

li p.value {
  color: blue;
  font-family: fantasy;
  font-size: 30px;
}


@media screen and (max-width: 426px) {
  .products li{
    width: 50%;
    min-height: 380px;
  }

  .products img {
    max-height: 200px;
    position: absolute;
    bottom: 50px;
    width: 90%;
    left: 50%;
    transform: translateX(-50%);
  }

  div.cards img {
    width: 200%;
    height: 30%;
    padding-left: 15%;
  }

  div.underimages p {
    color: blue;
    font-family: sans-serif;
    font-size: 16px;
  }

  div.carousel img {
    height: 200px;
  }
}

@media screen and (max-width: 575px) {
  .products li{
    width: 50%;
    min-height: 380px;
  }

  .products img {
    max-height: 200px;
    position: absolute;
    bottom: 50px;
    width: 90%;
    left: 50%;
    transform: translateX(-50%);
  }
}
