body{
    background-color: rgb(59, 59, 59);
  }

  div.box {
  }

  div h1 {
    font-family: fantasy;
    color: white;
  }

  div p.small {
    color: white;
    font-size: 10px;
  }

  div h2.description-title {
    color: white;
    font-family: fantasy;
  }

  div p.p-3 {
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
  }

  div h3{
    color: green;
    font-family: fantasy;
    font-size: 56px;
  }
