.products {
	list-style: none;
}
.products li {
	float: left;
	margin: 10px 20px;
}
h1 {
	color:black;
}
.navbar {
  background-color: yellow;
}


body{
  background-color: rgb(59, 59, 59);
}

h1{
  color: orange;
  font-family: fantasy;
}

.products {
  list-style: none;
  padding: 0;
}
.products li {
  float: left;
  margin-bottom: 20px;
  padding: 15px;
  width: 25%;
  background-color: grey;
  border-right: 2px solid grey;
  border-color: black;
  min-height: 380px;
  position: relative;
}
.products p {
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 100%;
  overflow: hidden;
  color: orange;
}
.products li a {
  position: absolute;
  bottom: 10px;
  width: 90%;
  /* dica para alinhar elemento absoluto ao centro */
  left: 50%;
  transform: translateX(-50%);
}

.products img {
  max-height: 200px;
  position: absolute;
  bottom: 50px;
  width: 90%;
  left: 50%;
  transform: translateX(-50%);
}

li p.title {
  color: black;
  font-family: fantasy;
  font-size: 20px;
}

li p.value {
  color: orange;
  font-family: fantasy;
  font-size: 30px;
}
footer h5 {
  color: white;
}

footer p {
  color: white;
}

footer a {
  color: white;
}

@media screen and (max-width: 420px) {
  .products li{
    width: 50%;
    min-height: 380px;
  }

  .products img {
    max-height: 200px;
    position: absolute;
    bottom: 50px;
    width: 90%;
    left: 50%;
    transform: translateX(-50%);
  }
}

@media screen and (max-width: 575px) {
  .products li{
    width: 50%;
    min-height: 380px;
  }

  .products img {
    max-height: 200px;
    position: absolute;
    bottom: 50px;
    width: 90%;
    left: 50%;
    transform: translateX(-50%);
  }
}