body{
    background-color: black;
  }

  h1{
    color: orange;
    font-family: fantasy;
  }

  form label {
    color: orange;
    font-family: sans-serif;
  }

  form div input.form-control {
    background-color: white;
  }

  form div input.form-control:focus {
  background-color: white;
}

  form div select.form-control {
    background-color: white;
  }

  form div select.form-control:focus {
    background-color: white;
  }
